<div id="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>About SkyCast</h1>
        <p>
          SkyCast is a fast, simple weather website built for clarity. Check
          forecasts, plan your day — no apps, no clutter, just clean weather
          data in your browser. SkyCast — because knowing if you&apos;ll get
          soaked shouldn&apos;t take five clicks. ☀️🌧️
        </p>
        <button>
          <a href="#weather">View Your Local Forecast</a>
        </button>
      </div>
      <div class="col">
        <img src="/graphicone.png" alt="" class="graphic-1">
      </div>
    </div>
  </div>
</div>
